<html>
  <header>
    <p>Caeser Cipher</p>
    <style>
    body {
      background:  #6ce747 ;
    }
    </style>
  </header>
  <body>
    <p>Welcome to Greg's handy Caeser Cipher.</p>
    <p>To encript your text, enter it below with your secret encription value.</p>
    <form>
      <label for='string'>Text</label></br>
      <input type='text' name='string' id='string' /></br>
      <label for='shift'>Encription Factor</label></br>
      <input type='text' name='shift' id='shift' /></br>
      <input type='submit' value='Encript' /></br>
    </form>
    <p><%= thanks %></p>
    <p><%= result %></p>
  </body>
</html>
